.photo{
  width: 300px;
  background-color: white;
  img{
    width: 100%;
  }
} 

div.container {
  text-align: center;
  padding: 10px 20px;
  background: #FFEB3B;
  font-size: 20px;
  font-weight: bold;
}