<h2>Lifecycle Hooks</h2>

<button class="button" routerLink="/lifecycleHooks/onchange">ngOnChanges</button>
<button class="button" routerLink="/lifecycleHooks/initDestory">ngOnInit & ngOnDestroy</button>
<button class="button" routerLink="/lifecycleHooks/doCheck">ngDoCheck</button>
<button class="button" routerLink="/lifecycleHooks/afterContent">ngAfterContentInit & ngAfterContentChecked</button>
<button class="button" routerLink="/lifecycleHooks/afterView">ngAfterViewInit & ngAfterViewChecked</button>

<router-outlet></router-outlet>