<div class="sidebar">
  <a routerLink="/home" [ngClass]="getBarClass('/home')">Home</a>
  <a routerLink="/binding" [ngClass]="getBarClass('/binding')">Data Binding</a>
  <a routerLink="/inputAndOutput" [ngClass]="getBarClass('/inputAndOutput')">Inputs and Outputs</a>
  <a routerLink="/lifecycleHooks" [ngClass]="getBarClass('/lifecycleHooks')">Lifecycle Hooks</a>
  <a routerLink="/heroes" [ngClass]="getBarClass('/hero')">Heroes</a>
  <a routerLink="/pipe" [ngClass]="getBarClass('/pipe')">Pipe</a>
</div>

<div class="content">
  <h1>Introduction of Angular</h1>
  <router-outlet></router-outlet>
</div>

